@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf');
    src: url('../fonts/Raleway-BoldItalic.ttf');
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf');
    src: url('../fonts/Raleway-Italic.ttf');
    src: url('../fonts/Raleway-Regular.ttf');
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family:'releway-italic';
    src: url('../fonts/Raleway-Italic.ttf');
}
@font-face {
    font-family: 'releway-bold';
    src: url('../fonts/Raleway-Bold.ttf');
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.25rem;
}
header, main, footer {
    width: 72.5rem;
    margin: auto;
}
header {
    text-align: center;
    color: white;
}
.header figcaption {
    font-family: 'lato';
    font-size: 1.5em;
    margin: 2%;
}
.header h1 {
    font-family: 'lato';
    font-size: 1.2em;
    margin: 1%;
}
body {
    font-family: 'Raleway';
    background: #782221;
}
.header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 0.125rem solid black;
    box-shadow: 0.375rem 0.375rem 1.5625rem black;
    cursor: zoom-in;
    object-fit: cover;
}
.header img:hover {
    transform: scale(1.5);
}
.header__adress {
    background: #2c1d27;
    color: white;
}
.header__adress {
    padding: 0.9375rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.header__adress a {
    display: flex;
    flex: auto;
    color: white;
    list-style: none;
    text-decoration: none;
}
.header__adress a:hover {
    text-decoration: underline;
}
.main {
    display: flex;
    flex-direction: row;
}
.main__sidebar {
    flex-basis: 30%;
    margin-right: 1.875rem;
}
.main__sidebar h2 {
    font-family: 'Lato';
    text-align: left;
    background: #dbc2a4;
    padding-left: 0.9375rem;
    padding-block: 0.3125rem;
}
.main__sidebar li {
    color: white;
}
.main__sidebar ul {
    margin-left: 1.25rem;
}
.main__sidebar p {
    margin-left: 1.25rem;
    color: white;
    text-indent: 1.875rem;
}
.main__principal {
    flex-basis: 70%;
    background: white;
    border-right: black 0.125rem solid;
}
.main__principal {
    flex-basis: 70%;
    background-color: white;
}
.main__principal h2 {
    font-family: 'Lato';
    text-align: left;
    background: #dbc2a4;
    border-left: #782221 0.625rem solid;
    margin-left: 1.875rem;
    padding-block: 0.3125rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
.main__principal ul:hover {
    border-right: #782221 0.3125rem solid;
}
.main__pansement {
}
.main__principal h3 {
    margin-left: 1.875rem;
}
.main__principal ul {
    text-align: left;
    margin-left: 3.75rem;
}
.main__principal strong {
    text-align: left;
    margin-left: 1.875rem;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.9375rem;
    margin-top: auto;
    width: 100%;
}
.footer__icons {
    display: flex;
    gap: 0.3125rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625rem;
}
.footer img {
    width: 2rem;
    height: 2rem;
    border-radius: 0.625rem;
    cursor: pointer;
}
.footer img:hover {
    opacity: 0.8;
}
.footer small {
    text-align: center;
    color: #dbc2a4;
    font-size: 0.5625em;
}
